.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.login-input {
    margin: 20px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
}