
.users-list-container {
  
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding-top: 70px;
    padding-bottom: 20px;
    z-index: 2;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}