.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 5px;
    width: 100%;
    padding: 5px 10px;
    border-bottom: 1px solid #ffffff78;
    background-color: #182533;
    z-index: 10;
}
.header img{
    height: 40px;
}