.modal {
    display: block;
}
.modal-content {
    padding: 5px;
}
.modal-body label {
    margin: 20px;
    padding: 10px;
}
.modal-body input {
    margin-right: 10px;
}
.modal-footer {
    margin: 20px;
}