.chat-container{
    display: flex;
    flex-direction: column;
    top: 100px;
    height: 68vh;
    position: fixed;
    left: 50px;
    width: auto;
    right: 50px;
    bottom: auto;
    border-right-width: 10px;
    border-radius: 20px;
}
