.authentification-info-container {
    margin-right: 30px;
    color: white;
}

.authentification-info-container img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin: 0 20px;
}

.authentification-info-container {
    cursor: pointer;
}
