.loader-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

@keyframes loader {
    0% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(-135deg);
    }

    100% {
        transform: rotate(-225deg);
    }
}

@keyframes one {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(-50px, 0);
       background-color: rgba(245, 65, 7, 0.87);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes two {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(50px, 0);
        background-color: rgba(26, 123, 243, 0.87);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes three {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(0, -50px);
        background-color: rgba(36, 229, 28, 0.87);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes four {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(0, 50px);
        background-color: rgba(219, 243, 10, 0.87);
    }

    100% {
        transform: translate(0);
    }
}

.loader {
    width: 50px;
    height: 50px;
    position: relative;
    animation: loader .3s infinite ease-in-out;
}

.loader span {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    border: 4px solid #0B1B48;
}

#one {
    animation: one .3s ease-out infinite;
}

#two {
    animation:two .3s ease-out infinite;
}

#three {
    animation: three .3s ease-out infinite;
}

#four {
    animation: four .3s ease-out  infinite;
}
