.list-group-item {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;
    
    border: 1px solid white;
    border-radius: 20px;
}
.list-group-item img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}