.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    margin-right: 0px;
    margin-left: 0px;
    height: 70px;
    width: 97%;
    margin-bottom: 10px;
    font-size: 18px;
}
.left-part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.left-part div {
    padding: 10px 25px;
}